<section class="movie-list">
    
    <div class="movie-list__movies movies">
        <h2 class="movies__title">Most popular</h2>
        <div class="movies__item">
            @for (movie of moviesData; track movie.id) {
            <app-primeng-movie-card [mov]="movie" (addToFavorite)="handleAddFavorite($event)" ></app-primeng-movie-card>
            }
        </div>

    </div>
    <!-- <div class="movie-list__favorite favorite">
        <h2 class="favorite__title">{{titleFavorite}}</h2>
        @if(favoriteListSet.size > 0){ <div class="favorite__movies">
            @for (movie of favoriteListSet; track $index) {
                <app-primeng-movie-card [mov]="movie" (addToFavorite)="handleAddFavorite($event)" (></app-primeng-movie-card>
            }
        </div>
        }
        @if(favoriteListSet.size === 0){
        <h2 class="favorite__message">{{favoriteListMessage}}</h2>
        }
    </div> -->
   
</section> 