@import "functions";

.movie-list {
    background-color: #3d4a58;
    max-width: toRem(1270);
    padding: 0 toRem(15);
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: toRem(50);
}
.movies {
    margin: 0 toRem(-7.5);
    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(15);
    app-movie-card {
        flex: 0 1 25%;
        @media (max-width: toEm($tablet)) {
            flex: 0 1 33.333%;
        }
        @media (max-width: toEm($mobile)) {
            flex: 0 1 50%;
        }
        @media (max-width: toEm($mobileSmall)) {
            flex: 0 1 100%;
        }
    }
}
.favorite {
    // .favorite__item
    &__title{
        font-size: toRem(30);
        font-weight: 600;
        color: #fff;
        &:not(:last-child){
        margin-bottom: toRem(15);
        }
    }
    &__message{
        font-weight: 600;
        color: #fff;
        font-size: toRem(20);
    }
    &__movies {
        margin: 0 toRem(-7.5);
        display: flex;
        flex-wrap: wrap;
        row-gap: toRem(15);
        app-movie-card {
            flex: 0 1 20%;
            @media (max-width: toEm($tablet)) {
                flex: 0 1 25%;
            }
            @media (max-width: toEm($mobile)) {
                flex: 0 1 50%;
            }
            @media (max-width: toEm($mobileSmall)) {
                flex: 0 1 100%;
            }
        }
    }
}
.bookmarks {
    // .bookmarks__item
    &__title{
        font-size: toRem(30);
        font-weight: 600;
        color: #fff;
        &:not(:last-child){
        margin-bottom: toRem(15);
        }
    }
    &__message{
        font-weight: 600;
        color: #fff;
        font-size: toRem(20);
    }
    &__item {
        margin: 0 toRem(-7.5);
        display: flex;
        flex-wrap: wrap;
        row-gap: toRem(15);
        app-movie-card {
            flex: 0 1 20%;
            @media (max-width: toEm($tablet)) {
                flex: 0 1 25%;
            }
            @media (max-width: toEm($mobile)) {
                flex: 0 1 50%;
            }
            @media (max-width: toEm($mobileSmall)) {
                flex: 0 1 100%;
            }
        }
    }
}
