<section class="movie-list">
    <div class="movie-list__movies movies">
        @for (movie of moviesData; track $index) {
        <app-movie-card [item]="movie" (addFavorite)="handleAddFavorite($event)" (addBookmarks)="handleAddBookmark($event)"></app-movie-card>
        }

    </div>
    <div class="movie-list__favorite favorite">
        <h2 class="favorite__title">{{titleFavorite}}</h2>
        @if(favoriteListSet.size > 0){ <div class="favorite__movies">
            @for (movie of favoriteListSet; track $index) {
            <app-movie-card [item]="movie" (addFavorite)="handleAddFavorite($event)" (addBookmarks)="handleAddBookmark($event)"></app-movie-card>
            }
        </div>
        }
        @if(favoriteListSet.size === 0){
        <h2 class="favorite__message">{{favoriteListMessage}}</h2>
        }
    </div>
    <div class="movie-list__bookmarks bookmarks">
        <h2 class="bookmarks__title">{{titleBookmark}}</h2>
        @if(bookmarksListSet.size > 0){
        <div class="bookmarks__item">
            @for (movie of bookmarksListSet; track $index) {
            <app-movie-card [item]="movie" (addFavorite)="handleAddFavorite($event)" (addBookmarks)="handleAddBookmark($event)"></app-movie-card>
            }
        </div>
        }
        @if(bookmarksListSet.size===0){
        <h2 class="bookmarks__message">{{bookmarkListMessage}}</h2>
        }
    </div>
</section>