<div class="login-wrapper" [class.active]="visible">
    <div class="login-block" >
        <span *ngIf="loginFailure" class="login-failure">Invalid username and/or password</span>
        <button type="button" class="login-block__button" (click)="closeDialog()"><i class="pi pi-times"></i></button>
        <div class="login-block__header">
            <h2 class="login-block__header-title">Login</h2>
            
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-block__form">
            <div class="login-block__form-wrapper">
                <label for="name">Name:</label>
                <input type="text" id="name" formControlName="userName">
            </div>
            <div class="login-block__form-wrapper">
                
                <label for="pass">Pass:</label>
                <input type="password" id="pass" formControlName="pass">
            </div>
            <div class="login-block__form-wrapper">
                <button type="submit" [disabled]="form.invalid" class="login-block__submit">Submit <i class="pi pi-sign-in"></i></button>
            </div>
        </form>
    </div>
</div>