<!-- <a [routerLink]="['/movie', mov.id]"> -->
<p-card styleClass="card">

    <ng-template pTemplate="header">
        <a [routerLink]="['/movie', mov.id]">
            <img [alt]="mov.title" src="https://image.tmdb.org/t/p/w500/{{mov.backdrop_path}}" />
        </a>
        <div class="card__description description">
            <p class="description__movie-description">{{mov.overview}}</p>
            <p><span>Original language:</span>{{mov.original_language}}</p>
            <p><span>Rate:</span>{{mov.vote_average | rateFormat}}</p>
            <p><span>Date:</span>{{mov.release_date}}</p>
            @if(mov.runtime){ <p><span>Runtime:</span>{{mov.runtime| timeFormat}}</p>}
            @if(mov.seasons){<p><span>Seasons:</span>{{mov.seasons}}</p>}
        </div>
        <div class="card__action">
            <p-button (click)="addMovieToFavorite(mov)" icon="pi pi-heart" />
            <p-button (click)="addMovieToBookmarks(mov)" icon="pi pi-bookmark" class="w-full" styleClass="w-full" />
        </div>

    </ng-template>

    <h2 class="card__title">{{mov.title}}</h2>

    <ng-template pTemplate="footer">
        <!-- <span class="card__rating">
                {{ animatedRate }}
            </span> -->
    </ng-template>
</p-card>
<!-- </a> -->