@import "functions";
:host {
    cursor: pointer;
    ::ng-deep {
        padding: 0 toRem(7.5);
        flex: 0 1 25%;
        min-width: toRem(200);
        max-width: toRem(450);
        // .movie-list__bookmarks &,
        // .favorite__movies & {
        //     flex: 0 1 15%;
        // }
        // @media (max-width: toEm($tablet)) {
        //     flex: 0 1 25%;
        // }
        // @media (max-width: toEm($mobile)) {
        //     flex: 0 1 50%;
        // }
        // @media (max-width: toEm($mobileSmall)) {
        //     flex: 0 1 100%;
        // }
        .p-card-header {
            position: relative;
            &:not(:last-child) {
                margin-bottom: toRem(5);
            }
        }
        .p-card-content {
            &:not(:last-child) {
                margin-bottom: toRem(3);
            }
        }
        .p-card-content,
        .p-card-footer {
            padding: 0 toRem(5);
        }
        .card {
            overflow: hidden;
            border-radius: 0;
            padding-bottom: toRem(5);
            box-shadow: 3px 3px 10px rgba(21, 21, 21, 0.424);
            &:hover {
                .card__description {
                    left: 0;
                    background-color: rgba(59, 59, 59, 0.787);
                }
            }
      
                img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 500 / 281;
                    object-fit: cover;
                }

                &__description {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    background-color: rgba(0, 0, 0, 0.286);
                    padding: toRem(10);
                    transition:
                        left 0.5s,
                        background-color 0.7s;
                }
         
            &__action {
                position: absolute;
                bottom: 0;
                width: 100%;
                display: flex;
                gap: toRem(5);
                padding: toRem(5);
                z-index: 12;
                button {
                    border-radius: 50%;
                    width: toRem(30);
                    height: toRem(30);
                }
            }
            &__title {
                font-size: toRem(20);
                font-weight: 600;
            }
            &__rating {
                font-size: toRem(20);
                font-weight: 600;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: toRem(5);
            pointer-events: none;
            p {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 1.27;
                span {
                    font-weight: 600;
                    margin-right: toRem(5);
                }
            }
            &__movie-description {
                font-size: toRem(17);
            }
        }
    }
}
