
<div class="details">
    <div class="details__header header">
        <div class="header__img">
            <img [src]=imgPath+(movie$|async)?.poster_path alt="">
        </div>
        <div class="header__info">
            <p><span>Title: </span>{{(movie$|async)?.title}}</p>
            <p><span>Original language: </span>{{(movie$|async)?.original_language}}</p>
            <p><span>Release: </span>{{(movie$|async)?.release_date}}</p>
            <p><span>Rate: </span>{{(movie$|async)?.vote_average}}</p>
            <p>{{(movie$|async)?.overview}}</p>
        </div>
    </div>
    <div class="details__body body">
        
    </div>
</div>
