@import "functions";

.movie-card {
    min-width: toRem(230);
    .favorite__movies &{
        min-width: toRem(200);
    }
    height: 100%;
    &:hover{
        .description{
            left: 0;
        }
    }
    // .movie-card__wrapper

    &__wrapper {
        padding: 0 toRem(7.5);;
    }

    // .movie-card__header

    &__header {
        position: relative;
        overflow: hidden;
    }

    // .movie-card__image

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 310 / 459;
        object-fit: cover;
    }

    // .movie-card__action

    &__action {
        position: absolute;
        bottom: toRem(5);
        left: toRem(7);
        z-index: 2;
    }

    // .movie-card__button

    &__button {
        background-color: #fff;
        border-radius: 50%;
        padding: toRem(5);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:not(:last-child){
        margin-right:toRem(7);
        }
        &:hover{
            transform: scale(1.1);
        }
        img{

        }
    }

    // .movie-card__wrapper-title

    &__wrapper-title {
        position: relative;
        z-index: 3;
        font-size: toRem(23);
        padding: toRem(5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: toRem(5);
        align-items: stretch;
        flex-grow: 1;
        min-height: 100%;
        background-color: #2b303a;
        color: #fff;

    }

    // .movie-card__title

    &__title {
        font-weight: 500;
        
    }

    // .movie-card__rate

    &__rate {
        
    }
}
.description {
    padding: toRem(10);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(29, 27, 27, 0.882);
    z-index: 1;
    color: #fff;
    transition: 0.5s ease-out;
    // .description___text

    &___text {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.35;
        font-weight: 500;
        font-style: italic;
        &:not(:last-child){
        margin-bottom: toRem(15);
        }
    }
}
.info {
    display: flex;
    flex-direction: column;
    gap: toRem(5);
    line-height: 1.27;
    // .info__director

    &__field{
        span{
            font-weight: 600;
        }
    }

    // .info__rate

    &__rate {
    }

    // .info__actors

    &__actors {
    }
}
