<article class="movie-card">
  <div class="movie-card__wrapper">
    <div class="movie-card__header">
      <img [src]="item.imgPath" alt="" class="movie-card__image">
      <div class="movie-card__action">
        <button (click)="addToFavorite(item)" class="movie-card__button">
          <img src="assets/icon/like.svg" alt="like">
        </button>
        <button (click)="addToBookmarks(item)" class="movie-card__button">
          <img src="../../../assets/icon/bookmark.svg" alt="bookmark">
        </button>
      </div>
      <div class="movie-card__description description">
        <p class="description___text">{{item.description}}</p>
        <div class="description__info info">
          <span class="info__field"><span>Director:</span> {{item.director}}</span>
          <span class="info__field"><span>Rate:</span> {{item.rate}}</span>
          <span class="info__field"><span>Actors:</span> {{item.actors}}</span>
          @if(item.runtime){
            <span class="info__field"><span>Runtime:</span> {{item.runtime| timeFormat}}</span>
          }
          @if(item.seasons){
            <span class="info__field"><span>Seasons:</span> {{item.seasons}}</span>
          }
        </div>
      </div>
    </div>
    <div class="movie-card__wrapper-title">
      <h2 class="movie-card__title">{{item.title}}</h2>
      <span class="movie-card__rate">{{item.rate}}</span>
    </div>
  </div>
</article>